{% extends 'adminbase.html.twig' %}

{% block title %}add new{% endblock %}

{% block body %}
    <h2><a href="{{ path('admin_user') }}">Utilisateurs</a> / <i class="las la-edit"></i></h2>
    {{ form_start(formEdit) }}
            {# {{ form_rest(formUpload) }} #}
         <section class="form">
            <div class="forms">
                {{ form_row(formEdit.firstname) }}
                {{ form_row(formEdit.lastname) }}
            </div>
            <div class="forms">
                {{ form_row(formEdit.email) }}
                {{ form_row(formEdit.roles) }}
            </div>
            <div class="forms">
                <button>Modifier l'utilisateur</button>
            </div>
        </section>
     
    {{ form_end(formEdit) }}
    {# {% for error in errors %}
        {{ error.message }}
    {% endfor %} #}
{% endblock %}