{% extends 'adminbase.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block javascripts %}
{{ parent() }} {# récupère le fichier js contenu dans le block javascript du fichier base.html.twig #}
    <script src="{{ asset('js/deleteModal.js') }}" defer></script>
{% endblock %}
{% block body %}
 <div class="navigation_cat">
    <h2>Utilisateurs</h2>
    <div class="success">
        {% for message in app.flashes('success') %}
            {{ message }}
        {% endfor %}
    </div>
</div>
<div id="table">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                         {# On boucle sur les rôles #}
                         <td>
                        {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_EDITOR" %}
                                Editeur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>
                        <a href="{{ path('admin_edit_user', {'id': user.id}) }}"><i class="las la-edit"></i></a>
                        <button type="button" data-href="{{ path('admin_delete_user', {'id': user.id}) }}" class="danger confirm-delete">
                        <i class="las la-trash-alt"></i></button> 
                        </td> 
                    </tr>
                    {% else %}
                    <tr>
                    <td colspan='4'>Aucune image importée...</td>
                    </tr>
                {% endfor %}
                 
            </tbody>
            
        </table>
        </div>
   <h2>{{ knp_pagination_render(users) }}</h2>

   <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Suppression</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cette utilisateur ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <a href="" class="danger">Oui, je confirme !</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
