{% extends 'base.html.twig' %}

{% block title %}add new{% endblock %}

{% block body %}
    <h2><a href="{{ path('importImages') }}">mes images</a> / <i class="las la-edit"></i></h2>
    {{ form_start(formEdit) }}
            {# {{ form_rest(formUpload) }} #}
        <section class="form">
            <div class="forms">
                {{ form_row(formEdit.imageFile) }}
                {{ form_row(formEdit.description) }}
            </div>
            <div class="forms">
                {{ form_row(formEdit.tags) }}
                {{ form_row(formEdit.category) }}
            </div>
            <div class="forms">
                <button>Modifier ma photo</button>
            </div>
        </section>
     
    {{ form_end(formEdit) }}
    {# {% for error in errors %}
        {{ error.message }}
    {% endfor %} #}
{% endblock %}