{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}
{% block javascripts %}
{{ parent() }} {# récupère le fichier js contenu dans le block javascript du fichier base.html.twig #}
    <script src="{{ asset('js/deleteModal.js') }}" defer></script>
{% endblock %}
{% block body %}
<div class="navigation_cat">
    <h2>Mes images / <a href="{{ path('account_new_picture') }}">+</a></h2>
    <div class="success">
        {% for message in app.flashes('success') %}
            {{ message }}
        {% endfor %}
    </div>
</div>
<div id="table">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Date de création</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for picture in pictures %}
                    <tr>
                         <td>{{ picture.id }}</td>
                        <td><img src="{{ asset('uploads/images/featured/'~ picture.image)|imagine_filter('mini') }}" alt="{{ picture.image }}"></td>
                        <td>{{ picture.createdAt|date('d.m.Y') }}</td>
                        <td>
                        <a href="{{ path('account_edit_picture', {'id': picture.id}) }}"><i class="las la-edit"></i></a>
               
                        <button type="button" data-href="{{ path('account_delete_picture', {'id': picture.id}) }}" class="danger confirm-delete"><i class="las la-trash-alt"></i></button>

                        </td> 
                    </tr>
                    {% else %}
                    <tr>
                    <td colspan='4'>Aucune image importée...</td>
                    </tr>
                {% endfor %}
                 
            </tbody>
            
        </table>
        </div>
   <h2>{{ knp_pagination_render(pictures) }}</h2>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Suppression</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cette photo ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <a href="" class="danger">Oui, je confirme !</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
