{% extends 'base.html.twig' %}

{% block title %}add new{% endblock %}

{% block body %}
    <h2><a href="{{ path('importImages') }}">mes images</a> / +</h2>
    {{ form_start(formUpload) }}
            {# {{ form_rest(formUpload) }} #}
        <section class="form">
            <div class="forms">
                {{ form_row(formUpload.imageFile) }}
                {{ form_row(formUpload.description) }}
            </div>
            <div class="forms">
                {{ form_row(formUpload.tags) }}
                {{ form_row(formUpload.category) }}
            </div>
            <div class="forms">
                <button>Envoyer ma photo</button>
            </div>
        </section>
     
    {{ form_end(formUpload) }}
    {# {% for error in errors %}
        {{ error.message }}
    {% endfor %} #}
{% endblock %}