{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {# {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %} #}

    <h2>Connexion</h2>
    <div class="form">
        <div class="forms">
            <div>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"  required autofocus>
                
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword"  required>
           </div> 
        </div>
        <div class="forms">
            <div class="checkbox"><input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
            <label for="checkbox">Se rappeler de moi</label>
            <input class="checkbox" type="checkbox" name="_remember_me"></div>
        </div>
        <div class="forms">
        <a href="{{ path ('app_forgot_password_request') }}">Mot de passe oublié</a>
            <button type="submit">Se connecter</button>
        </div>
        </div>
    </div>
</form>
{% endblock %}
