{% extends 'base.html.twig' %}

{% block title %}categorie{% endblock %}

{% block body %}
    {# <h1 id="title">{{ categoriePage.name }}</h1> #}
    <nav id="menu">
        <ul>
            {% for category in categories %}
                <li><a href="{{ path ('categorie', {id:category.id}) }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
     </nav>
    <section id="showImage">
        <div>
            <a href="{{ asset('uploads/images/featured/'~ showImage.image) }}"><img src="{{ asset('uploads/images/featured/'~ showImage.image)|imagine_filter('medium') }}" alt="{{ showImage.image }}"></a>
        </div>
        <div>
            <p>{{ showImage.description }}</p>
            <p class="date">{{ showImage.createdAt|date }}</p>
        </div>
        <div>
            <h3>{{ showImage.tags }}</h3>
        </div>
    </section>
    <div class="navigation_cat">
        <h2>{{ showImage.category.name }}</h2>
        <h2>{{ knp_pagination_render(photos) }}</h2>
    </div>
    <section id="grid">
    {# showImage correspond aux infos de notre image, à partir de cette image, nous allons chercher la catégorie reliée à l'image "showImage.category" et a partir de cette catégories, nous avons la possibilité de récupérer toutes les images liées a cette meme categorie soit "showImage.category.pictures #}
    {% for photo in photos %}
        {# 
            !== s'écrit en Twig : is not same as()
            === s'écrit en Twig : is same as()
        #}
        {% if photo.image is not same as(showImage.image) %}
            <a href="{{ path ('showImage', {id:photo.id}) }}">
                <img src="{{ asset('uploads/images/featured/'~ photo.image)|imagine_filter('thumbnail') }}" alt="{{ photo.image }}">
            </a>
        {% endif %}
    {% endfor %}
    </section>
{% endblock %}