{% extends 'base.html.twig' %}

{% block title %}categorie{% endblock %}

{% block body %}
 <nav id="menu">
        <ul>
            {% for category in categories %}
                <li><a href="{{ path ('categorie', {id:category.id}) }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
     </nav>
    <div class="navigation_cat"> 
        <h2 id="title">{{ categoriePage.name }}</h2>
        <h2>{{ knp_pagination_render(pictures) }}</h2>
    </div>
    <section id="grid">
    {% for picture in pictures %}
    <a href="{{ path ('showImage', {id:picture.id}) }}">
        <img src="{{ asset('uploads/images/featured/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}">
    </a>
    {% endfor %}
    </section>
{% endblock %}