{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
    
    {# <h1 id="title">Galerie d'images</h1> #}
    <nav id="menu">
        <ul>
            {% for category in categories %}
                <li><a href="{{ path ('categorie', {id:category.id}) }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
     </nav>
    <section id="grid">
        {% for picture in pictures %}
            <a href="{{ path ('showImage', {id:picture.id}) }}">
                <img src="{{ asset('uploads/images/featured/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}">
            </a>
        {% endfor %}
    </section>
    <div class="navigation">
    {{ knp_pagination_render(pictures) }}
    </div>

{% endblock %}
