{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h2>Inscription</h2>
    <div class="formregister">
        {{ form_start(registrationForm) }}
          <div class="formsregister">
               
                    {{ form_label(registrationForm.firstname) }}
                    {{ form_widget(registrationForm.firstname) }}
                    {{ form_errors(registrationForm.firstname) }}
               
                    {{ form_label(registrationForm.lastname) }}
                    {{ form_widget(registrationForm.lastname) }}
                    {{ form_errors(registrationForm.lastname) }}
                
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email) }}
                    {{ form_errors(registrationForm.email) }}
          
            </div>
            <div class="formsregister">
           
                    {{ form_label(registrationForm.plainPassword.first) }}
                    {{ form_widget(registrationForm.plainPassword.first) }}
                    {{ form_errors(registrationForm.plainPassword.first) }}
              
              
                    {{ form_label(registrationForm.plainPassword.second) }}
                    {{ form_widget(registrationForm.plainPassword.second) }}
                    {{ form_errors(registrationForm.plainPassword.second) }}
           
            </div>
            <div class="forms">
            
                <div class="checkbox">
                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>
            </div>
             <div class="forms">
                <button type="submit">S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>  
{% endblock %}
