{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p> Un email avec le lien de réinitialisation vous a été envoyé.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas le mail, veuillez vérifiez dans vos spams ou <a href="{{ path('app_forgot_password_request') }}">envoyer à nouveau</a>.</p>
{% endblock %}
