{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}    
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Mot de passe oublié</h1>
    <section class="form">
        <div class="forms">
        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        </div>
        <div>
            <small>
                Entrer votre adresse email et nous vous enverrons un lien de réinitialisation de votre mot de passe.
            </small>
        </div>
        <div class="forms">
        <button>Envoyer le lien de reinitialisation</button>
        </div>
         <section>
    {{ form_end(requestForm) }}
{% endblock %}