{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>

    {{ form_start(resetForm) }}
       <section class="form">
        <div class="forms">
        {{ form_row(resetForm.plainPassword) }}
        </div>
        <div class="forms">
        <button>Enregistrer</button>
        </div>
        </section>
    {{ form_end(resetForm) }}
{% endblock %}
