* {
    box-sizing: border-box;
}
:root{
    font-size: 12px;
}
#margin{
    margin:2vw;
}
header{
    margin-top:2vw;
}
ul {
    list-style: none;
    margin-block-start: 1vw;
    margin-block-end: 1vw;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 1vw;
}
#title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
}
#title h1{
    text-transform:uppercase;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:9vw;
    margin:0;
    flex:50% 0 1;
    line-height: 0.8;
}

h3{  
    font-family: Arial, Helvetica, sans-serif;
    font-size:6vw;
    margin:0;
}
h2{
    text-transform:uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size:6vw;
    margin:0;
    text-align:left;
}
a{
    color:black;
    text-decoration: none;
    filter:invert(0);
}
a:hover{
    color:black;
    text-decoration: none;
    transition:  linear 0.8s;
    filter:invert(0.9);
}
#title h1:nth-child(2){
    text-align:right;
}

#menu ul::-webkit-scrollbar { 
    display: none; 
}

#menu ul{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    overflow-x: scroll;
    padding:0;
}


ul li a {
    color:black;
    font-size: 3em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    padding-right:10px;
}

li{
    list-style: none;
}

#grid{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content:space-around;
    align-items:center;
    column-gap: 25px;
}

#grid img{
    width:93vw;
    flex-grow: 4;
}
#showImage img{
    width:93vw;
}
#showImage{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-around;
    flex-wrap:wrap;
    column-gap: 25px;
}

#showImage div{
flex:1;
}

#showImage div:nth-child(2){
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5em;
    flex:3;
}

#showImage div:nth-child(3){
    text-align:right;
}

#showImage div p.date{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

p,h3 {    
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navigation{
    text-align:center;
    font-size:16em;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    justify-content:space-around;
}

.navigation_cat{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-around;
    flex-wrap:wrap;
    column-gap: 25px;
}

.navigation:hover{
    color:rgb(202, 202, 202);
}
.navigation:focus{
    color:rgb(202, 202, 202);
}
#log{
    display:flex;
    flex-direction: row;
    justify-content: space-between;  
}
#logout{
    display:flex;
    flex-direction: row;
    justify-content: flex-end; 
    text-align:right; 
}
#logout p{
    font-size:1.5em;
    padding-left:10px;
 }
#log div:first-child p{
    font-size:2em;
 }
#log p{
   font-size:1.5em;

}
#log a{
    padding:10px;
    white-space: nowrap;
 }

th{
    text-transform:uppercase;
    font-size:1.5em;
}
td{
    text-transform:uppercase;
    font-size:2em;
}
th,td{
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    justify-content:start;
    padding: 5px;
    vertical-align: top;
}
table img{
    width:5vw;
}
#table{
    display:flex;
    flex-direction: column;
    justify-content: space;  
    text-align:right;
}
.forms{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;  
    align-items:flex-start;
    align-content: flex-start;
    flex-wrap:wrap;
}
.forms div{
    padding-right:1vw;
    padding-top:2vw;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    flex:1;
}
.formregister{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items:flex-start;
    align-content: flex-start;
    flex-wrap:wrap;
}

.formsregister{
    padding-right:1vw;
    padding-top:2vw;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    flex:1;
}
.form{
    margin-top:4vh;
}
input, select, textarea{
    border-bottom:1px solid black;
    border-top:none;
    border-left:none;
    border-right:none;
    font-size:1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    border-bottom:none;
}
input, select{
    height:5vh;
}
textarea{

    height:20vh;
}
.checkbox label{
    font-size:1em;
    text-transform: none;
}
label{
    font-size:2em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.form button,.formregister button{
    border:1px solid black;
    font-size:1.6em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:2vw;
    background-color:black;
    color:white;
}
.success{
    font-size:1.6em;
    color:rgb(76, 211, 116);
    margin-top:2vw;
}
td button{
    border:none;
    background-color: transparent;
}


.la-check{
    color:rgb(76, 211, 116);
}
.la-times{
    color:rgb(253, 18, 18);
}
@media screen and (min-width:600px) {
    #grid img{
        width:25vw;
    }
    #showImage img{
        width:95vw;
        height:auto;
    }
    .form{
        margin-top:4vh;
    }
    .forms{
        flex-wrap:nowrap;
    }
   
    .formsregister{
        flex-wrap:nowrap;
  
    }
    .forms div{
        flex-wrap:nowrap;
  
    }
    textarea{
        height:20vh;
     
    }
}

@media screen and (min-width:1024px) {
    :root{
        font-size: 12px;
    }
    #grid img{
        width:20vw;
    }

    #showImage img{
        width:auto;
        height:70vh;
    }
    .form{
        margin-top:3vh;
    }
  
    .forms div{
        padding-top:1vw;
        width:40vw;
        flex:50% 0 1;
    }
    textarea{
       width:40vw;
    }

    .formsregister{
        flex-direction:row;
    }
    
}
