{% extends 'adminbase.html.twig' %}

{% block title %}add new{% endblock %}

{% block body %}
    <h2><a href="{{ path('admin') }}">Catégories</a> / <i class="las la-edit"></i></h2>
    {{ form_start(formEdit) }}
            {# {{ form_rest(formUpload) }} #}
        <section class="form">
            <div class="forms">
                <p>{{ form_row(formEdit.name) }}</p>
            </div>
            <div class="forms">
                <button>Modifier</button>
            </div>
        </section>
     
    {{ form_end(formEdit) }}
    {# {% for error in errors %}
        {{ error.message }}
    {% endfor %} #}
{% endblock %}