{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block javascripts %}
{{ parent() }} {# récupère le fichier js contenu dans le block javascript du fichier base.html.twig #}
    <script src="{{ asset('js/deleteModal.js') }}" defer></script>
{% endblock %}
{% block body %}

 <div class="navigation_cat">
    <h2>Catégories / <a href="{{ path('admin_new_categorie') }}">+</a></h2>
    <div class="success">
        {% for message in app.flashes('success') %}
            {{ message }}
        {% endfor %}
    </div>
</div>
<div id="table">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Catégories</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                    <tr>
                         <td>{{ categorie.id }}</td>
                        <td>{{ categorie.name }}</td>
                        <td>
                        <a href="{{ path('admin_edit_categorie', {'id': categorie.id}) }}"><i class="las la-edit"></i></a>
                        <button type="button" data-href="{{ path('admin_delete_categorie', {'id': categorie.id}) }}" class="danger confirm-delete">
                        <i class="las la-trash-alt"></i></button>
                        </td> 
                    </tr>
                    {% else %}
                    <tr>
                    <td colspan='4'>Aucune image importée...</td>
                    </tr>
                {% endfor %}
                 
            </tbody>
            
        </table>
        </div>
   <h2>{{ knp_pagination_render(categories) }}</h2>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Suppression</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cette categorie ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <a href="" class="danger">Oui, je confirme !</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
