{% extends 'adminbase.html.twig' %}

{% block title %}add new{% endblock %}

{% block body %}
    <h2><a href="{{ path('admin') }}">Catégories</a> / +</h2>
    {{ form_start(formAdd) }}
            {# {{ form_rest(formUpload) }} #}
        <section class="form">
            <div class="forms">
                <p>{{ form_row(formAdd.name) }}</p>
            </div>
            <div class="forms">
                <button>Ajouter</button>
            </div>
        </section>
     
    {{ form_end(formAdd) }}
    {# {% for error in errors %}
        {{ error.message }}
    {% endfor %} #}
{% endblock %}