{% extends 'adminbase.html.twig' %}

{% block title %}add new{% endblock %}

{% block body %}
    <h2><a href="{{ path('admin_picture') }}">Images</a> / <i class="las la-edit"></i></h2>
    {{ form_start(formValid) }}
            {# {{ form_rest(formUpload) }} #}
        <section class="form">
            <div class="forms">
             {{ form_row(formValid.imageFile) }}
            {{ form_row(formValid.is_validated) }}
            </div>
            <div class="forms">
                <button>Modifier</button>
            </div>
        </section>
     
    {{ form_end(formValid) }}
    {# {% for error in errors %}
        {{ error.message }}
    {% endfor %} #}
{% endblock %}