<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>    
    <div id="margin">    
        <header>
            <div id="title">
                <h1><a href="{{ path ('home') }}">Galerie</a></h1>
                <h1><a href="{{ path ('home') }}">d'images</a></h1>
            </div>

            
                {% if app.user is null %}
                <div id="logout">
                    <div>
                        <p><a href="{{ path ('app_login') }}">se connecter</a></p>
                    </div>
                    <div>
                        <p><a href="{{ path ('app_register') }}">s'inscrire</a></p>
                    </div>
                </div>
                {% elseif app.debug %}
                <div id="log">
                    <div>
                        <p><a href="{{ path ('importImages') }}">mon compte</a>
                    {% if is_granted('ROLE_EDITOR') %}
                        <a href="{{ path ('admin_picture') }}">/ administration</a></p>
                    {% endif %}
                    </div>
                    <div>
                        <p>{{ app.user.username }}
                        <a href="{{ path ('app_logout') }}">se déconnecter</a></p>
                    </div> 
                 </div>
                {% endif %}
        <header>
        {% block body %}
        {% endblock %}
        </div>
    </body>
</html>
 